/* 预览界面 */
.preview-header {
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  background: #e6e7e9;
}
.esc-preview {
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
}
.body-content {
  width: 100%;
  height: calc(100vh - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* previewImg */
.preview-img {
  width: 344px;
  height: 689px;
  background-image: url(../../../assets/images/dialogPreviewbg.png);
  background-size: 100% 100%;
}
.preview-titel {
  font-size: 20px;
}
.preview-content {
  margin: 120px 30px 90px 30px;
  height: calc(100% - 210px);
  overflow-y: auto;
}
.preview-title {
  text-align: center;
  font-family: PingFangSC-Medium, PingFang SC;
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  line-height: 17px;
}
.preview-content-img {
  width: 276px;
  height: 94px;
  margin: 22px auto;
  background: gray;
}
.preview-content-text {
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  line-height: 23px;
  transform: scale(0.91);
}
.preview-content-footer {
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  margin-left: -20px;
  transform: scale(0.75);
}
